@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-dmsans: "DM Sans", sans-serif;
  --color-primary: #262626;
  --color-secondary: #767676;
  --color-fadetxt: #6d6d6d;
  --color-navbg: #f5f5f3;
  --color-input: #c4c4c4;
  --color-border: #2b2b2b;
}
